* {
    font-family: 'Noto Sans', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

    $primary-color: #131947;
    $dark-primary-color: #0F1439;
    $special-color: #F2B12E;
    $dark-special-color: #CC9A34;
    $text-size: 20px;

    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    
    body {
        a{
            color: white;
        }
        background-color: $primary-color;
        .navbar {
            // width: 100%;
            padding: 1.5vh;
            // position: fixed;
            background-color: white;
            z-index: 999;
            img{
                height: 9vh;
            }
            nav {
                width: 100%;
                // padding: 1vh;
                height: 10vh;
                // background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-around ;
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    li {
                        .order{
                            color: $special-color;
                        }
                        margin: 0 10px;
                        a {
                            margin: 1vh;
                            color: $primary-color;
                            font-weight: bold;
                        }
                        a:hover{
                            color: $special-color;
                        }
                    }
                }
                .lang{
                    margin: 2vh;
                    a{
                        color: black;
                        margin: 1vh;
                        font-weight: bold;
                    }
                }
                    .login {
                        color: $special-color;
                        font-style: none;
                        text-decoration: none;
                        padding: 2vh 5vh;
                        border: 1px solid;
                        border-radius: 1vh;
                        background-color: $dark-primary-color;
                            margin-left: auto;
                    }
                }
            }
            .page{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 2vh;
                h1{
                    color: white;
                }
                form {
                    color: $special-color;

                    width: 50%;
                    padding: 20px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    input{
                        display: flex;
                        flex-direction: row;
                    }
                    .top{
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        gap:1vh;
                        .number{
                            // align-items: center;
                            #fileNumber{
                                width: 100%;
                                color: black;
                            }
                        }

                        .name{
                            #patientName{
                                width: 100%;
                            }
                            label{
                                width: 100%;
                            }
                        }
                    }
                .teeth{
                    .special-num-color *{
                        fill: $dark-special-color;
                    }
                    .normal-num-color{
                        fill: $dark-special-color
                    }
                    padding: 1vh 0 ;
                    #_11:hover {
                        fill: $special-color;
                    }
                    #_12:hover {
                        fill: $special-color;
                    }
                    #_13:hover {
                        fill: $special-color;
                    }
                    #_14:hover {
                        fill: $special-color;
                    }
                    #_15:hover {
                        fill: $special-color;
                    }
                    #_16:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_17:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_18:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_18:focus{
                        path{
                            fill:dark $dark-special-color
                        }
                    }
                    #_19:hover {
                        fill: $special-color;
                    }
                    #_21:hover {
                        fill: $special-color;
                    }
                    #_22:hover {
                        fill: $special-color;
                    }
                    #_23:hover {
                        fill: $special-color;
                    }
                    #_24:hover {
                        fill: $special-color;
                    }
                    #_25:hover {
                        fill: $special-color;
                    }
                    #_26:hover {
                        path{   
                            fill: $special-color;
                        }
                    }
                    #_27:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_28:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_29:hover {
                        fill: $special-color;
                    }
                    #_31:hover {
                        fill: $special-color;
                    }
                    #_32:hover {
                        fill: $special-color;
                    }
                    #_33:hover {
                        fill: $special-color;
                    }
                    #_34:hover {
                        fill: $special-color;
                    }
                    #_35:hover {
                        fill: $special-color;
                    }
                    #_36:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_37:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_38:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_39:hover {
                        fill: $special-color;
                    }
                    #_41:hover {
                        fill: $special-color;
                    }
                    #_42:hover {
                        fill: $special-color;
                    }
                    #_43:hover {
                        fill: $special-color;
                    }
                    #_44:hover {
                        fill: $special-color;
                    }
                    #_45:hover {
                        fill: $special-color;
                    }
                    #_46:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_47:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                    #_48:hover {
                        path {
                            fill: $special-color;
                        }
                    }
                }
                .mid{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1vh;
                    .work-type{
                        #type-of-work{
                            width: 25%;                            
                        }
                    }
                    label{
                        white-space: nowrap;
                    }
                    .color{
                        width: 25%;
                    }
                    #test{
                        width: 5vh;
                        height: 5vh;
                        background: $special-color;
                    }
                }
                
                .bottom{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5vh;
                    margin: 1vh;
                    textarea {
                        height: 15vh;
                        resize: none;
                    }
                    .tooth-parts{
                        display: flex;
                        justify-content: center;
                        margin-top: 1vh;
                        .top{
                            position: absolute;
                            width: 13vh;
                            background-color: transparent;
                            color: white;
                            border: none;
                            text-align: center;
                        }
                        .mid{
                            position: absolute;
                            width: 15vh;
                            transform: translatey(6vh);
                            background-color: transparent;
                            border: none;
                            color: white;
                            text-align: center;
                        }
                        .bot{
                            position: absolute;
                            width: 15vh;
                            transform: translatey(11.5vh);
                            background-color: transparent;
                            border: none;
                            color: white;
                            text-align: center;
                            }
                            svg{
                                width: 15vh;
                            .select-color *{
                                fill: $dark-special-color;
                                opacity: 1;
                            }
                            #top:hover *{
                                fill: $special-color;
                            }
                            #mid:hover *{
                                fill: $special-color;
                            }
                            #bottom:hover *{
                                fill: $special-color;
                            }
                        }
                    }
                }

                .button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .button{
                        padding: 1vh 5vh;
                        background-color: $special-color;
                        width: 25%;
                        font-size:3vh;
                        border-radius: 5px;
                    }
                }
                
                label {
                    font-weight: bold;
                }
            
                input[type="text"], select, textarea, input[type="color"] {
                    font-size: $text-size;
                    padding: 5px;
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                }
                
                input[type="checkbox"] {
                    margin-right: 5px;
                    color: $special-color;
                    accent-color: $special-color;
                }
            }
        }
    }
}
